{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "ignore": ["**/*.test.*"],

  "plugins": ["@babel/plugin-transform-typescript"]
}
